/*------------------------------------*\
  Global css
\*------------------------------------*/

/* === Start from best-practices css defaults === */
@import '~sanitize.css';
@import '~sanitize.css/typography.css';
@import '~sanitize.css/forms.css';

/* === Global variables === */
:root {
	--text-color: #212529;
	--background-color: #ffffff;
	--alt-background-color: #fafafa;
  --border-color: #eaeaea;
  --subtle-text-color: rgb(102, 102, 102);

  --success-color: #55d98c;
  --success-background-color: #f1fcf6;

  --container-width: 1024px;
  --small-container-width: 640px;
}

/* === Default cascade === */
html {
  color: var(--text-color);
  background-color: var(--background-color);
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
}

::selection {
	background: var(--text-color);
	color: var(--background-color);
}

iframe,
img,
input,
select,
textarea {
  height: auto;
  max-width: 100%;
}

code {
  display: inline-block;
  background-color: var(--alt-background-color);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

pre code {
  display: block;
  padding: 1rem;
}

hr {
  margin: 1rem 0;
  border: none;
  height: 1px;
  background-color: currentColor;
}

h1, h2, h3, h4, h5, h6 {

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

p {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

article {
  max-width: var(--small-container-width);
  margin: 3rem auto;
}

button {
  color: var(--background-color);
  background-color: var(--text-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  & + & {
    margin-left: 0.5rem;
  }
  &:hover {
    opacity: 0.95;
  }
  &:active {
    opacity: 0.875;
  }
}
