

.skip-to-content {
  position: absolute;
  top: -100%;
  left: -100%;
  padding: 1rem;
  background-color: var(--accent-color);
  color: white;
  text-decoration: none;
  &:focus, &:active {
    text-decoration: underline;
    top: 0;
    left: 0;
  }
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 1rem;
}


.hero {
  text-align: center;
  padding: 3rem;
  h1 {
    font-size: 3rem;
  }
}

.hero-text {
  max-width: var(--small-container-width);
  margin: 0 auto;
  padding: 3rem;
}


.steps-section {
  background-color: var(--alt-background-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  .steps {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 6rem 3rem;
    display: grid;
    grid-gap: 3rem;
  }
}
