.step {
  display: grid;
  grid-template-columns: 6rem auto;
  position: relative;
  z-index: 2;

  &:not(:last-child)::after {
    content: '';
    width: 3px;
    height: calc(100% + 3rem);
    position: absolute;
    top: 4rem;
    left: calc(3rem - 1px);
    background-color: var(--border-color);
    z-index: -1;
  }

  &.done {
    .number {
      color: var(--background-color);
      background-color: var(--text-color);
    }
    &:not(:last-child)::after {
      background-color: var(--text-color);
    }
    .card {
      border: 1px solid var(--success-color);
      background-color: var(--success-background-color);
    }
    .header {
      color: var(--success-color);
    }
  }
  &:not(.enabled) {
    .card {
      opacity: 0.66;
      pointer-events: none;
    }
  }
}


.number {
  margin-top: 2.25rem;
  align-self: flex-start;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  border-radius: 100%;
}

.card {
  background-color: var(--background-color);
  box-shadow: 0 3px 6px 0 rgba(79, 67, 56, 0.15);
  border-radius: 1rem;
  padding: 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  > svg {
    width: 2rem;
    height: 2rem;
  }
}

.title {
  margin: 0;
}

.content {
  margin: 1rem 0;
}

.complete {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}


.feedback {
  margin-right: 2rem;
}

