.step {


  position: relative;
  z-index: 2;

  @media (min-width: 480px) {
    display: grid;
    grid-template-columns: 2rem auto;
    grid-gap: 3rem;

    &:not(:last-child)::after {
      content: '';
      width: 3px;
      height: calc(100% + 3rem);
      position: absolute;
      top: 4rem;
      left: calc(1rem - 1px);
      background-color: var(--border-color);
      z-index: -1;
    }
  }

  &:not(.enabled) {
    .card {
      opacity: 0.66;
      pointer-events: none;
    }
  }
  &:not(.expanded):not(.done) {
    .card {
      &:hover {
        background-color: #fafafa;
      }
    }
  }
}

.number {
  margin-top: 2.25rem;
  align-self: flex-start;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  border-radius: 100%;
  @media (max-width: 479px) {
    margin-bottom: 1rem;
  }
}

.card {
  border: 1px solid var(--border-color);
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(79, 67, 56, 0.15);
  border-radius: 1rem;
}

.header {
  cursor: pointer;
  padding: 2rem 4rem 2rem 2rem;
  position: relative;
  > svg {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
  }
}
.expanded {
  .header {
    padding-bottom: 1rem;
  }
}

.title {
  margin: 0;
}

.content {
  padding: 0 2rem 2rem 2rem;
}

.complete {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  > svg {
    margin-left: 1rem;
  }
}


.feedback {
  margin: 1rem 0 0 0;
}



/* Done state */
.done {
  .number {
    color: var(--background-color);
    background-color: var(--text-color);
  }
  &:not(:last-child)::after {
    background-color: var(--text-color);
  }
  .card {
    border: 1px solid var(--success-color);
    background-color: var(--success-background-color);
  }

}
