.header {
  max-width: var(--container-width);
  padding: 1rem;
  margin: 3rem auto 0 auto;
  nav {
    a {
      color: var(--subtle-text-color);
      text-decoration: none;
      margin-right: 1rem;
    }
  }
}

.logo {
  color: inherit;
}
