.footer {
  max-width: var(--container-width);
  padding: 1rem;
  margin: 3rem auto;
  nav {
    display: flex;
    flex-direction: column;
    a {
      color: inherit;
      line-height: 2;
    }
  }
}
